/* Header Section */
header {
  position: absolute;
  display: flex;
  top: 135px;
  width: 100%;
  height: 100vh;
  background-image: url(/img/background_4.jpeg);
  background-size: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
}
.header-content {
  margin: 0;
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0.7;
  z-index: 0;
}
.header-content img {
  width: 495px;
  height: 165px;
}
.header-content h2 {
  font-size: 4vmin;
  color: #125554;
}
.header-content h3 {
  font-size: 3vmin;
  color: #777777;
}

/* End Header Section */

/* condition for use LCI Section */
.condition {
  margin: auto;
  margin-top: 25.5%;
  width: 80%;
  height: 630px;
  background-color: #777777;
  opacity: 0.5;
  align-items: center;
}
.condition h2 {
  padding-top: 10px;
  text-align: center;
  color: whitesmoke;
  letter-spacing: 1px;
}
ol {
  padding-left: 50px;
  padding-right: 15px;
}
#condition_detail {
  padding-top: 20px;
  padding-left: 20px;
  color: whitesmoke;
  letter-spacing: 1px;
  line-height: 15px;
}
#condition_detail_1 {
  padding-top: 14px;
  padding-left: 20px;
  margin-bottom: -5px;
  color: whitesmoke;
  letter-spacing: 1px;
  line-height: 28px;
}
.check_box {
  margin-left: -25px;
  padding-top: 75px;
  color: whitesmoke;
  letter-spacing: 0.8px;
  line-height: 28px;
}
#myCheck {
  width: 20px;
  height: 20px;
}
label {
  margin-left: 17.5px;
}
#button1 {
  width: 200px;
  background-color: #125554;
  border: none;
  color: whitesmoke;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
  margin-left: 42.25%;
  margin-top: 20px;
  display: none;
}
#button1:hover {
  cursor: pointer;
  color: yellow;
}

a {
  text-decoration: none;
}
/* End condition for use LCI Section */

/* Footer Section */
footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 20px 80px;
  margin-top: 15%;
  margin-bottom: 0;
  background: #484872;
  text-align: center;
}
footer p {
  color: whitesmoke;
  margin: 20px auto;
}
/* End Footer Section */

/* adjust large laptop */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  img.logo_1 {
    margin-top: 10px;
    margin-left: -50%;
    width: 100%;
    height: 75%;
  }
  nav {
    font-size: 18px;
    margin-left: -5%;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 20px;
  }
  header {
    height: 142vh;
    background-size: 150%;
  }
  .header-content {
    margin-bottom: 1%;
  }
  .condition {
    margin-top: 30%;
  }
  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    padding: 0 0 0 0;
    background: #484872;
    text-align: center;
    font-size: 16px;
    margin-top: 10%;
  }
}

/* adjust laptop */
@media screen and (min-device-width: 1024px) and (max-device-width: 1199px) and (-webkit-min-device-pixel-ratio: 1) {
  img.logo_1 {
    margin-top: 10px;
    margin-left: -5.5%;
    width: 80%;
    height: 65%;
  }
  nav {
    font-size: 14px;
    margin-left: 0%;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 6px;
    font-size: 14px;
  }
  header {
    margin-top: -2.5%;
    height: 142vh;
    background-size: 150%;
  }
  .header-content {
    margin-bottom: 1%;
  }
  .condition {
    margin-top: 40%;
    height: 770px;
  }
  #button1 {
    margin-left: 35%;
  }
  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    padding: 0 0 0 0;
    background: #484872;
    text-align: center;
    font-size: 16px;
    margin-top: 10%;
  }
}

/* adjust tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 2) {
  img.logo_1 {
    display: none;
  }
  header {
    position: absolute;
    display: flex;
    top: 115px;
    width: 100%;
    height: 150vh;
    background-image: url(/img/background_4.jpg);
    background-size: 200%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: -5%;
  }
  nav {
    font-size: 15.5px;
    margin-left: -2%;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 10px;
  }
  .condition {
    margin-top: 50%;
    height: 950px;
  }
  #button1 {
    margin-left: 32.5%;
  }
  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    padding: 0 0 0 0;
    background: #484872;
    text-align: center;
    font-size: 14px;
    margin-top: 20%;
    /* display: none; */
  }
}

/* adjust large mobile */
@media only screen and (min-device-width: 425px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
  img.logo_1 {
    display: none;
  }
  #logo_3 {
    width: 80%;
    height: auto;
  }
  header {
    position: absolute;
    display: flex;
    width: 100%;
    height: auto;
    background-image: url(/img/background_1.jpg);
    background-size: 200%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 30%;
  }
  nav {
    font-size: 8px;
    margin-left: -1%;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 1px;
  }
  .condition {
    margin-top: 92.5%;
    height: 1500px;
  }
  #button1 {
    margin-left: 16.5%;
  }
  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    padding: 0px 0px;
    background: #484872;
    text-align: center;
    font-size: 2.5px;
    margin-top: 40%;
  }
}

/* adjust middle mobile */
@media only screen and (min-device-width: 375px) and (max-device-width: 424px) and (-webkit-min-device-pixel-ratio: 2) {
  img.logo_1 {
    display: none;
  }
  #logo_3 {
    width: 80%;
    height: auto;
  }
  header {
    position: absolute;
    display: flex;
    width: 100%;
    height: auto;
    background-image: url(/img/background_1.jpg);
    background-size: 200%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 30%;
  }
  nav {
    font-size: 8px;
    margin-left: -1%;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 1px;
  }
  .condition {
    margin-top: 92.5%;
    height: 1700px;
  }
  #button1 {
    margin-left: 10.5%;
  }
  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    padding: 0px 0px;
    background: #484872;
    text-align: center;
    font-size: 2.5px;
    margin-top: 40%;
  }
}

/* adjust small mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 374px) and (-webkit-min-device-pixel-ratio: 2) {
  img.logo_1 {
    display: none;
  }
  #logo_3 {
    width: 80%;
    height: auto;
  }
  header {
    position: absolute;
    display: flex;
    width: 100%;
    height: auto;
    background-image: url(/img/background_1.jpg);
    background-size: 200%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 30%;
  }
  nav {
    font-size: 8px;
    margin-left: -1%;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 1px;
  }
  .condition {
    margin-top: 92.5%;
    height: 1970px;
  }
  .condition h2 {
    font-size: 18px;
  }
  ol {
    padding-left: 50px;
    padding-right: 15px;
  }
  #condition_detail {
    padding-top: 20px;
    padding-left: 20px;
    color: whitesmoke;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 14px;
  }
  #condition_detail_1 {
    padding-top: 14px;
    padding-left: 20px;
    margin-bottom: -5px;
    color: whitesmoke;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 14px;
  }
  #checkText {
    font-size: 14px;
  }
  #button1 {
    margin-left: 2%;
  }

  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    padding: 0px 0px;
    background: #484872;
    text-align: center;
    font-size: 2.5px;
    margin-top: 40%;
  }
}
