/* Header Section */
header {
  position: absolute;
  display: flex;
  top: 135px;
  width: 100%;
  height: 45vh;
  background-image: url(/img/background_3.jpg);
  background-size: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
}
img.logo_1 {
  margin-top: 10px;
  margin-left: -50%;
  width: 100%;
  height: 75%;
}
/* End Header Section */

/* Condition Description */
.condition-description {
  position: absolute;
  /* background-color: lightgrey; */
  margin-top: 34%;
  display: block;
  min-height: 100vh;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}
.condition-head {
  color: #125554;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.line {
  width: 60%;
  height: 4px;
  background: grey;
  margin: 10px auto;
  border-radius: 5px;
}
.condition-des-1 {
  font-size: 20px;
  margin: 0 0 0 0;
  line-height: 35px;
  letter-spacing: 1.1px;
}
.condition-des-2 {
  font-size: 20px;
  margin: 40px 60px 40px 60px;
  line-height: 35px;
  letter-spacing: 1.1px;
}
/* End Condition Description */

/* Footer Section */
footer {
  width: 100%;
  min-height: 100px;
  padding: 20px 80px;
  margin-top: 120%;
  background: #484872;
  text-align: center;
  bottom: 0;
  position: relative;
}
footer p {
  color: white;
  margin: 20px auto;
}
/* End Footer Section */

/* adjust large laptop */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  img.logo_1 {
    margin-top: 10px;
    margin-left: -50%;
    width: 100%;
    height: 75%;
  }
  nav {
    font-size: 18px;
    margin-left: -5%;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 20px;
  }
  header {
    position: absolute;
    display: flex;
    top: 135px;
    width: 100%;
    height: 45vh;
    background-image: url(/img/background_3.jpg);
    background-size: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
  }
  .header-content {
    margin-bottom: 1%;
  }
  .condition-des-1 {
    margin: 0 0 0 0;
  }
  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    padding: 20px 80px;
    background: #484872;
    text-align: center;
    font-size: 16px;
    margin-top: 120%;
  }
}

/* adjust laptop */
@media screen and (min-device-width: 1024px) and (max-device-width: 1199px) and (-webkit-min-device-pixel-ratio: 1) {
  img.logo_1 {
    margin-top: 10px;
    margin-left: -5.5%;
    width: 80%;
    height: 65%;
  }
  nav {
    font-size: 14px;
    margin-left: 0%;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 6px;
    font-size: 14px;
  }
  header {
    position: absolute;
    display: flex;
    width: 100%;
    height: 45vh;
    background-image: url(/img/background_3.jpg);
    background-size: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    margin-top: -3.5%;
  }
  .header-content {
    margin-bottom: 1%;
  }
  .condition-description {
    margin-top: 40%;
  }
  .condition-des-1 {
    margin: 0 0 0 0;
  }
  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    padding: 20px 80px;
    background: #484872;
    text-align: center;
    font-size: 4px;
    margin-top: 180%;
  }
}

/* adjust tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 2) {
  img.logo_1 {
    display: none;
  }
  nav {
    font-size: 14px;
    margin-left: 0%;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 6px;
    font-size: 14px;
  }
  header {
    position: absolute;
    display: flex;
    width: 100%;
    height: 45vh;
    background-image: url(/img/background_3.jpg);
    background-size: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    margin-top: -5.5%;
  }
  .header-content {
    margin-bottom: 1%;
  }
  .condition-description {
    margin-top: 54.5%;
  }
  .condition-des-1 {
    margin: 0 0 0 0;
  }
  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    padding: 20px 80px;
    background: #484872;
    text-align: center;
    font-size: 4px;
    margin-top: 225%;
    display: none;
  }
}

/* adjust mobile */
@media only screen and (min-device-width: 375px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
  img.logo_1 {
    display: none;
  }
  nav {
    font-size: 14px;
    margin-left: 0%;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 6px;
    font-size: 14px;
  }
  header {
    position: absolute;
    display: flex;
    width: 100%;
    height: 45vh;
    background-image: url(/img/background_3.jpg);
    background-size: 200%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    margin-top: 2.5%;
  }
  .condition-head {
    font-size: 18px;
    text-align: center;
  }
  .header-content {
    margin-bottom: 1%;
  }
  .condition-description {
    margin-top: 110%;
  }
  .condition-des-1 {
    margin: 0 0 0 0;
    font-size: 12px;
  }
  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    padding: 20px 80px;
    background: #484872;
    text-align: center;
    font-size: 4px;
    margin-top: 225%;
    display: none;
  }
}
