h1#data-topic-name {
  color: #2b2b2b;
  opacity: 0.5;
}

section.flex-container .data-details .pagination {
  display: inline-block;
  margin-left: 89.5%;
  margin-top: -5%;
}

section.flex-container .data-details .pagination#top-pagination-1 {
  margin-left: 82.25%;
}

section.flex-container .data-details .pagination#top-pagination-2 {
  margin-left: 74%;
}

section.flex-container .data-details .pagination#top-pagination-3 {
  margin-left: 73%;
}

section.flex-container .data-details .pagination#top-pagination-4 {
  margin-left: 72%;
}

section.flex-container .data-details .pagination#top-pagination-5 {
  margin-left: 70%;
}

section.flex-container .data-details .pagination#bottom-pagination-1 {
  margin-top: 5%;
  margin-left: 82.25%;
}

section.flex-container .data-details .pagination#bottom-pagination-2 {
  margin-top: 5%;
  margin-left: 74%;
}

section.flex-container .data-details .pagination#bottom-pagination-3 {
  margin-top: 5%;
  margin-left: 73%;
}

section.flex-container .data-details .pagination#bottom-pagination-4 {
  margin-top: 5%;
  margin-left: 72%;
}

section.flex-container .data-details .pagination#bottom-pagination-5 {
  margin-top: 5%;
  margin-left: 70%;
}
.pagination#bottom-pagination {
  margin-top: 5%;
}

section.flex-container .data-details .pagination a {
  color: #2b2b2b;
  opacity: 0.5;
  margin-bottom: 5%;
  padding-right: 8px;
  padding-left: 8px;
  text-decoration: none;
}

section.flex-container .data-details .pagination a.active {
  background-color: #125554;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 17px;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 10px;
}

section.flex-container .data-details .dataset-box {
  width: 875px;
  height: 297.5px;
  margin-top: 5%;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
  color: #2b2b2b;
  opacity: 0.7;
  padding: 4%;
}

.dataset-box#box102,
.dataset-box#box103,
.dataset-box#box104,
.dataset-box#box105,
.dataset-box#box142,
.dataset-box#box143,
.dataset-box#box144,
.dataset-box#box145,
.dataset-box#box186,
.dataset-box#box187,
.dataset-box#box188,
.dataset-box#box189 {
  height: 325px;
}

section.flex-container .data-details .dataset-box span.wg4-name {
  float: right;
  background-color: #125554;
  color: white;
  padding: 1%;
  border-radius: 10px;
}

.submit-btn {
  display: flex;
  float: right;
  text-align: center;
  cursor: pointer;
  margin-top: 0.25%;
  background: #575656;
  border: 0;
  outline: none;
  border-radius: 30px;
  color: white;
  font-size: 17px;
  margin: auto;
}
.submit-btn span {
  display: flex;
  text-align: center;
  line-height: 1em;
}

.submit-btn:hover {
  background-color: #125554;
  box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
  color: white;
}

button.working-group7 {
  background-color: #125554;
  opacity: 0.7;
}
span#wg7-name {
  color: whitesmoke;
}
i#wg7 {
  color: whitesmoke;
}

#data-group {
  margin-left: -20px;
  font-size: 1.1rem;
  font-weight: 400;
}

h2 {
  color: #125554;
}

/* adjust large laptop */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  img.logo_1 {
    margin-top: 10px;
    margin-left: -50%;
    width: 100%;
    height: 75%;
  }
  nav {
    font-size: 18px;
    margin-left: -5%;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 20px;
  }
  header {
    height: 142vh;
    background-size: 150%;
  }
  .header-content {
    margin-bottom: 1%;
  }
  .pagination {
    margin-left: -10px !important;
    margin-top: 10px !important;
  }
  footer {
    position: relative;
    bottom: -20px;
    width: 100%;
    min-height: 60px;
    padding: 0 0 0 0;
    background: #484872;
    text-align: center;
    font-size: 16px;
    margin-top: 5%;
  }
}

/* adjust laptop */
@media screen and (min-device-width: 1024px) and (max-device-width: 1199px) and (-webkit-min-device-pixel-ratio: 1) {
  img.logo_1 {
    margin-top: 10px;
    margin-left: -5.5%;
    width: 80%;
    height: 65%;
  }
  nav {
    font-size: 14px;
    margin-left: 0%;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 6px;
    font-size: 14px;
  }
  header {
    height: 142vh;
    background-size: 150%;
  }
  .header-content {
    margin-bottom: 1%;
  }
  .data-details .dataset-box {
    width: fit-content !important;
    height: fit-content !important;
  }
  .pagination {
    margin-left: -10px !important;
    margin-top: 10px !important;
  }
  footer {
    position: relative;
    bottom: -20px;
    width: 100%;
    min-height: 60px;
    padding: 0 0 0 0;
    background: #484872;
    text-align: center;
    font-size: 10px;
    margin-top: 5%;
  }
}

/* adjust tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 2) {
  img.logo_1 {
    display: none;
  }
  header {
    position: absolute;
    display: flex;
    top: 135px;
    width: 100%;
    height: 100vh;
    background-image: url(/img/background_4.jpg);
    background-size: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  nav {
    font-size: 15.5px;
    margin-left: -3%;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 10px;
  }
  #data-topic-name {
    font-size: 16px;
  }
  button.working-group1 i,
  button.working-group2 i,
  button.working-group2plus1 i,
  button.working-group3 i,
  button.working-group4 i,
  button.working-group5 i,
  button.working-group6 i,
  button.working-group7 i,
  button.working-group7plus1 i,
  button.working-group8 i {
    display: none;
  }
  section.flex-container .data-group button {
    margin-top: 2.5%;
    width: 280px;
    margin-bottom: 2%;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
    color: #2b2b2b;
    opacity: 0.7;
    text-align: left;
  }
  section.flex-container .data-group button span {
    padding: 1.9%;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
  }
  section.flex-container .data-group a {
    color: #2b2b2b;
    text-align: left;
    text-decoration: none;
  }
  section.flex-container .data-details .pagination {
    display: inline-block;
    margin-left: 68%;
    margin-top: -5%;
  }
  section.flex-container .data-details .dataset-box {
    width: 370px;
    height: 385px;
    margin-top: 5%;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
    color: #2b2b2b;
    opacity: 0.7;
    padding: 4%;
  }
  section.flex-container .data-details .dataset-box h2 {
    font-size: 18px;
  }
  section.flex-container .data-details .dataset-box p {
    font-size: 6px;
  }
  .data-details .dataset-box {
    width: fit-content !important;
    height: fit-content !important;
  }
  .pagination {
    margin-left: -10px !important;
    margin-top: 10px !important;
  }
  footer {
    margin-top: 20%;
    bottom: -20px;
    font-size: 2px;
  }
}

/* adjust large mobile */
@media screen and (min-device-width: 425px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  img.logo_1 {
    display: none;
  }
  nav {
    font-size: 15.5px;
    margin-left: -2%;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 10px;
  }
  header {
    height: 142vh;
    background-size: 150%;
  }
  .header-content {
    margin-bottom: 1%;
  }
  /* Section Search */
  section.search {
    overflow: hidden;
  }

  section.search input[type="text"] {
    padding: 10px 15px;
    width: 80%;
    height: 47.5px;
    margin-top: 100px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
  }
  .search-container {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 0;
    float: center;
  }
  .data-details .dataset-box {
    width: fit-content !important;
    height: fit-content !important;
  }
  .dataset-box h2 {
    font-size: 16px;
  }
  .dataset-box p {
    display: none;
  }
  .dataset-box h3 {
    font-size: 14px;
  }
  button {
    float: center;
    padding: 10px 15px;
    margin-top: 8px;
    margin-right: 0px;
    background: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  button:hover {
    background-color: #ddd;
    box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
  }
  .submit-btn {
    margin-left: 2px;
    margin-right: 1px;
  }
  #ReadmoreBtn {
    display: flex;
    float: right;
    text-align: center;
    cursor: pointer;
    margin-top: 0.25%;
    background: #575656;
    border: 0;
    outline: none;
    border-radius: 30px;
    color: white;
    font-size: 17px;
    margin-right: 0px;
  }
  #ReadmoreBtn span {
    display: flex;
    text-align: center;
    line-height: 1em;
  }
  #ReadmoreBtn:hover {
    background-color: #125554;
    box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
    color: white;
  }

  button.working-group2plus1,
  button.working-group7plus1 {
    background-color: #ddd;
  }

  /* End Section Search */

  /* Data Group Section */
  section.flex-container {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
  }
  section.flex-container .data-group {
    flex-grow: 0.5;
    display: flex;
    flex-direction: column;
  }
  section.flex-container .data-group h1#data-topic-name {
    color: #2b2b2b;
    opacity: 0.5;
    margin-bottom: 5%;
  }
  section.flex-container .data-group button {
    margin-top: 2.5%;
    width: 110px;
    margin-bottom: 2%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
    color: #2b2b2b;
    opacity: 0.7;
    text-align: left;
  }
  section.flex-container .data-group button span {
    padding: 1.9%;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
  }
  section.flex-container .data-group a {
    color: #2b2b2b;
    text-align: left;
    text-decoration: none;
  }

  section.flex-container .data-details {
    margin-left: 0;
    padding-left: 30px;
    flex-grow: 8;
    display: flex;
    flex-direction: column;
  }
  h1#data-topic-name {
    color: #2b2b2b;
    opacity: 0.5;
    font-size: 18px;
    margin-left: 0%;
  }
  /* .pagination {
    margin-left: 0px !important;
  } */
  .data-details .dataset-box {
    width: fit-content !important;
    height: fit-content !important;
  }
  .pagination {
    margin-left: -10px !important;
    margin-top: 10px !important;
  }

  section.flex-container .data-details .pagination a {
    color: #2b2b2b;
    opacity: 0.5;
    margin-bottom: 5%;
    padding-right: 6px;
    padding-left: 6px;
    text-decoration: none;
  }

  section.flex-container .data-details .pagination a.active {
    background-color: #125554;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 17px;
  }
  /* End Data Group Section */
  footer {
    position: relative;
    bottom: -20px;
    width: 100%;
    min-height: 60px;
    padding: 0 0 0 0;
    background: #484872;
    text-align: center;
    font-size: 2px;
    margin-top: 12.5%;
  }
}

/* adjust middle mobile */
@media screen and (min-device-width: 375px) and (max-device-width: 424px) and (-webkit-min-device-pixel-ratio: 1) {
  img.logo_1 {
    display: none;
  }
  #logo_3 {
    width: 80%;
    height: auto;
  }
  header {
    margin-top: -2.5%;
    height: 142vh;
    background-size: 400%;
  }
  nav {
    font-size: 8px;
    margin-left: -1%;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 1px;
  }
  header {
    height: 142vh;
    background-size: 150%;
  }
  .header-content {
    margin-bottom: 1%;
  }
  /* Section Search */
  section.search {
    overflow: hidden;
  }

  section.search input[type="text"] {
    padding: 10px 15px;
    width: 80%;
    height: 47.5px;
    margin-top: 100px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
  }
  .search-container {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 0;
    float: center;
  }
  .data-details .dataset-box {
    width: fit-content !important;
    height: fit-content !important;
  }
  .dataset-box h2 {
    font-size: 16px;
  }
  .dataset-box p {
    display: none;
  }
  .dataset-box h3 {
    font-size: 14px;
  }
  button {
    float: center;
    padding: 10px 15px;
    margin-top: 8px;
    margin-right: 0px;
    background: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  button:hover {
    background-color: #ddd;
    box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
  }
  .submit-btn {
    margin-left: 2px;
    margin-right: 1px;
  }
  #ReadmoreBtn {
    display: flex;
    float: right;
    text-align: center;
    cursor: pointer;
    margin-top: 0.25%;
    background: #575656;
    border: 0;
    outline: none;
    border-radius: 30px;
    color: white;
    font-size: 17px;
    margin-right: 0px;
  }
  #ReadmoreBtn span {
    display: flex;
    text-align: center;
    line-height: 1em;
  }
  #ReadmoreBtn:hover {
    background-color: #125554;
    box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
    color: white;
  }

  button.working-group2plus1,
  button.working-group7plus1 {
    background-color: #ddd;
  }

  /* End Section Search */

  /* Data Group Section */
  section.flex-container {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
  }
  section.flex-container .data-group {
    flex-grow: 0.5;
    display: flex;
    flex-direction: column;
  }
  section.flex-container .data-group h1#data-topic-name {
    color: #2b2b2b;
    opacity: 0.5;
    margin-bottom: 5%;
  }
  section.flex-container .data-group button {
    margin-top: 2.5%;
    width: 110px;
    margin-bottom: 2%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
    color: #2b2b2b;
    opacity: 0.7;
    text-align: left;
  }
  section.flex-container .data-group button span {
    padding: 1.9%;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
  }
  section.flex-container .data-group a {
    color: #2b2b2b;
    text-align: left;
    text-decoration: none;
  }

  section.flex-container .data-details {
    margin-left: 0;
    padding-left: 30px;
    flex-grow: 8;
    display: flex;
    flex-direction: column;
  }
  h1#data-topic-name {
    color: #2b2b2b;
    opacity: 0.5;
    font-size: 18px;
    margin-left: 0%;
  }
  /* .pagination {
    margin-left: 0px !important;
  } */
  .data-details .dataset-box {
    width: fit-content !important;
    height: fit-content !important;
  }
  .pagination {
    margin-left: -10px !important;
    margin-top: 10px !important;
  }

  section.flex-container .data-details .pagination a {
    color: #2b2b2b;
    opacity: 0.5;
    margin-bottom: 5%;
    padding-right: 4px;
    padding-left: 4px;
    text-decoration: none;
  }

  section.flex-container .data-details .pagination a.active {
    background-color: #125554;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 17px;
  }
  /* End Data Group Section */
  footer {
    position: relative;
    bottom: -20px;
    width: 100%;
    min-height: 60px;
    padding: 0 0 0 0;
    background: #484872;
    text-align: center;
    font-size: 2px;
    margin-top: 12.5%;
  }
}

/* adjust small mobile */
@media screen and (min-device-width: 320px) and (max-device-width: 374px) and (-webkit-min-device-pixel-ratio: 1) {
  img.logo_1 {
    display: none;
  }
  #logo_3 {
    width: 80%;
    height: auto;
  }
  header {
    margin-top: -2.5%;
    height: 142vh;
    background-size: 400%;
  }
  nav {
    font-size: 8px;
    margin-left: -1%;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 1px;
  }
  header {
    height: 142vh;
    background-size: 150%;
  }
  .header-content {
    margin-bottom: 1%;
  }
  /* Section Search */
  section.search {
    overflow: hidden;
  }

  section.search input[type="text"] {
    padding: 10px 15px;
    width: 80%;
    height: 47.5px;
    margin-top: 100px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
  }
  .search-container {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 0;
    float: center;
  }
  .data-details .dataset-box {
    width: fit-content !important;
    height: fit-content !important;
  }
  .dataset-box h2 {
    font-size: 16px;
  }
  .dataset-box p {
    display: none;
  }
  .dataset-box h3 {
    font-size: 14px;
  }
  button {
    float: center;
    padding: 10px 15px;
    margin-top: 8px;
    margin-right: 0px;
    background: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  button:hover {
    background-color: #ddd;
    box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
  }
  .pagination {
    margin-left: aut;
  }
  .submit-btn {
    margin-left: 2px;
    margin-right: 1px;
  }
  #ReadmoreBtn {
    display: flex;
    float: right;
    text-align: center;
    cursor: pointer;
    margin-top: 0.25%;
    background: #575656;
    border: 0;
    outline: none;
    border-radius: 30px;
    color: white;
    font-size: 17px;
    margin-right: 0px;
  }
  #ReadmoreBtn span {
    display: flex;
    text-align: center;
    line-height: 1em;
  }
  #ReadmoreBtn:hover {
    background-color: #125554;
    box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
    color: white;
  }

  button.working-group2plus1,
  button.working-group7plus1 {
    background-color: #ddd;
  }

  /* End Section Search */

  /* Data Group Section */
  section.flex-container {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
  }
  section.flex-container .data-group {
    flex-grow: 0.5;
    display: flex;
    flex-direction: column;
  }
  section.flex-container .data-group h1#data-topic-name {
    color: #2b2b2b;
    opacity: 0.5;
    margin-bottom: 5%;
  }
  section.flex-container .data-group button {
    margin-top: 2.5%;
    width: 110px;
    margin-bottom: 2%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
    color: #2b2b2b;
    opacity: 0.7;
    text-align: left;
  }
  section.flex-container .data-group button span {
    padding: 1.9%;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 20px 35px rgb(0, 0, 0, 0.1);
  }
  section.flex-container .data-group a {
    color: #2b2b2b;
    text-align: left;
    text-decoration: none;
  }

  section.flex-container .data-details {
    margin-left: 0;
    padding-left: 30px;
    flex-grow: 8;
    display: flex;
    flex-direction: column;
  }
  h1#data-topic-name {
    color: #2b2b2b;
    opacity: 0.5;
    font-size: 18px;
    margin-left: 0%;
  }
  /* .pagination {
    margin-left: 0px !important;
  } */
  .data-details .dataset-box {
    width: fit-content !important;
    height: fit-content !important;
  }
  .pagination {
    margin-left: -10px !important;
    margin-top: 10px !important;
  }

  section.flex-container .data-details .pagination a {
    color: #2b2b2b;
    opacity: 0.5;
    margin-bottom: 5%;
    padding-right: 1px;
    padding-left: 1px;
    text-decoration: none;
  }

  section.flex-container .data-details .pagination a.active {
    background-color: #125554;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 17px;
  }
  /* End Data Group Section */
  footer {
    position: relative;
    bottom: -20px;
    width: 100%;
    min-height: 60px;
    padding: 0 0 0 0;
    background: #484872;
    text-align: center;
    font-size: 2px;
    margin-top: 12.5%;
  }
}
