.description {
  margin-top: 8%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 95%;
  height: 100vh;
}

.headerOfDescription {
  color: rgb(75, 71, 71);
}

.headerOfDescription i {
  color: dodgerblue;
}

p {
  font-size: 18px !important;
  color: lightslategrey;
  line-height: 35px;
  letter-spacing: 1.1px;
}

.detailsOfDescription h2 {
  color: dodgerblue;
}

/* adjust tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .description {
    margin-top: 10%;
  }
  footer {
    margin-top: 80%;
    bottom: 0;
  }
}
