/* Header Section */
header {
  position: absolute;
  display: flex;
  top: 135px;
  width: 100%;
  height: 100vh;
  background-image: url(/img/background_4.jpeg);
  background-size: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
}
.header-content {
  margin: 0;
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0.7;
  z-index: 0;
}
.header-content img {
  width: 495px;
  height: 165px;
}
.header-content h2 {
  font-size: 4vmin;
  color: #125554;
}
.header-content h3 {
  font-size: 3vmin;
  color: #777777;
}

/* End Header Section */

/* Request Section */
.request {
  margin: auto;
  width: 50%;
  height: 2040px;
  background-color: whitesmoke;
  opacity: 0.7;
  margin-top: 28%;
}
.request h2 {
  text-align: center;
  color: #125554;
}
form {
  margin-top: 5%;
}
label {
  font-size: 20px;
  margin-left: 8.75%;
  color: #777777;
}
input {
  width: 60%;
  height: 30px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 5%;
}
#prefix_name_0 {
  margin-left: 8.75%;
}
#prefix_dropdown {
  width: 60%;
  height: 30px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 7.15%;
}
#username {
  padding-right: 2%;
}
#position {
  padding-right: 6%;
}
#type_institution {
  width: 60%;
  height: 30px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 1.5%;
}
#name_institution {
  width: 60%;
  height: 30px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 6.5%;
}
#address_institution {
  width: 60%;
  height: 60px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 5%;
}
#phone_number {
  margin-left: 8.5%;
}
#email {
  margin-left: 15.25%;
}
#objective {
  width: 60%;
  height: 80px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 30%;
}
#topic_project {
  font-size: 20px;
  margin-left: 8.75%;
  color: #777777;
}
#box_project_1 {
  width: 25px;
  height: 25px;
  border: none !important;
  border-radius: 8px;
  box-shadow: none;
  margin-left: 15%;
}
#topic_project_1 {
  font-size: 18px;
  margin-left: 2.5%;
  color: #777777;
}
#name_project_1_label {
  font-size: 18px;
  margin-left: 14.75%;
  color: #777777;
}
#name_project_1 {
  margin-left: 2.25%;
}
#objective_project_1_label {
  font-size: 18px;
  margin-left: 14.75%;
  color: #777777;
}
#objective_project_1 {
  margin-left: 2.25%;
}
#objective_project {
  width: 60%;
  height: 80px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 31.25%;
}
#source_of_capital_1_label {
  margin-left: 15.25%;
  font-size: 18px;
}
#source_of_capital_1 {
  width: 60%;
  height: 30px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 4.5%;
}
#name_institution_1_label {
  margin-left: 15.25%;
  font-size: 18px;
}
#name_institution_1 {
  width: 60%;
  height: 30px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 3.5%;
}
#box_project_2 {
  width: 25px;
  height: 25px;
  border: none !important;
  border-radius: 8px;
  box-shadow: none;
  margin-left: 15%;
}
#topic_project_2 {
  font-size: 18px;
  margin-left: 2.5%;
  color: #777777;
}
#name_project_2_label {
  font-size: 18px;
  margin-left: 14.75%;
  color: #777777;
}
#name_project_2 {
  margin-left: 2.25%;
}
#objective_project_2_label {
  font-size: 18px;
  margin-left: 14.75%;
  color: #777777;
}
#objective_project_2 {
  margin-left: 2.25%;
}
#objective_project {
  width: 60%;
  height: 80px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 31.25%;
}
#source_of_capital_2_label {
  margin-left: 15.25%;
  font-size: 18px;
}
#source_of_capital_2 {
  width: 60%;
  height: 30px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 4.5%;
}
#name_institution_2_label {
  margin-left: 15.25%;
  font-size: 18px;
}
#name_institution_2 {
  width: 60%;
  height: 30px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 3.5%;
}
#objective_again {
  width: 60%;
  height: 80px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 30%;
}
#yes_attachment {
  width: 25px;
  height: 25px;
  border: none !important;
  border-radius: 8px;
  box-shadow: none;
  margin-left: 35%;
}
#no_attachment {
  width: 25px;
  height: 25px;
  border: none !important;
  border-radius: 8px;
  box-shadow: none;
  margin-left: 10%;
}
#yes {
  margin-left: 2.5%;
  font-size: 18px;
}
#no {
  margin-left: 2.5%;
  font-size: 18px;
}
#button1 {
  width: 200px;
  background-color: #125554;
  border: none;
  color: whitesmoke;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
  margin-left: 37.25%;
  margin-top: 20px;
  /* display: none; */
}
#button1:hover {
  cursor: pointer;
  color: yellow;
}
#button_form {
  width: 40px;
  height: 40px;
  margin-left: 37.25%;
}
input#button2 {
  width: 250px;
  height: 45px;
  border: none;
  border-radius: 10px;
  box-shadow: none;
  margin-left: 35%;
  font-size: 18px;
}
#file-upload-button {
  border-radius: 10px;
}
/* End Request Section */

/* Footer Section */
footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 20px 80px;
  margin-top: 15%;
  margin-bottom: 0;
  background: #484872;
  text-align: center;
}
footer p {
  color: whitesmoke;
  margin: 20px auto;
}
/* End Footer Section */

/* adjust large laptop */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  img.logo_1 {
    margin-top: 10px;
    margin-left: -50%;
    width: 100%;
    height: 75%;
  }
  nav {
    font-size: 18px;
    margin-left: -5%;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 20px;
  }
  header {
    height: 142vh;
    background-size: 150%;
  }
  .header-content {
    margin-bottom: 1%;
  }
  footer {
    position: relative;
    bottom: -20px;
    width: 100%;
    min-height: 60px;
    padding: 0 0 0 0;
    background: #484872;
    text-align: center;
    font-size: 16px;
    margin-top: 10%;
  }
}

/* adjust laptop */
@media screen and (min-device-width: 1024px) and (max-device-width: 1199px) and (-webkit-min-device-pixel-ratio: 1) {
  img.logo_1 {
    margin-top: 10px;
    margin-left: -5.5%;
    width: 80%;
    height: 65%;
  }
  nav {
    font-size: 14px;
    margin-left: 0%;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 6px;
    font-size: 14px;
  }
  header {
    margin-top: -2.5%;
    height: 142vh;
    background-size: 150%;
  }
  .header-content {
    margin-bottom: 1%;
  }
  .request {
    margin-top: 400px;
    width: 70%;
    height: 2040px;
  }
  footer {
    position: relative;
    bottom: -20px;
    width: 100%;
    min-height: 60px;
    padding: 0 0 0 0;
    background: #484872;
    text-align: center;
    font-size: 10px;
    margin-top: 10%;
  }
}

/* adjust tablet */
@media screen and (min-device-width: 768px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 1) {
  img.logo_1 {
    display: none;
  }
  nav {
    font-size: 15.5px;
    margin-left: -2%;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 10px;
  }
  header {
    margin-top: -4.5%;
    height: 142vh;
    background-size: 200%;
  }
  .header-content {
    margin-bottom: 1%;
  }
  .request {
    margin-top: 400px;
    width: 100%;
    height: 2040px;
  }
  footer {
    position: relative;
    bottom: -20px;
    width: 100%;
    min-height: 60px;
    padding: 0 0 0 0;
    background: #484872;
    text-align: center;
    font-size: 2px;
    margin-top: 10%;
  }
}

/* adjust large mobile */
@media screen and (min-device-width: 425px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 1) {
  img.logo_1 {
    display: none;
  }
  #logo_3 {
    width: 80%;
    height: auto;
  }
  header {
    margin-top: -5.5%;
    height: 142vh;
    background-size: 400%;
  }
  nav {
    font-size: 8px;
    margin-left: -1%;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 1px;
  }
  .header-content {
    margin-bottom: 1%;
  }
  .request {
    margin-top: 400px;
    width: 100%;
    height: 2040px;
  }
  .request h2 {
    font-size: 19.5px;
  }
  form {
    margin-top: 5%;
  }
  label {
    font-size: 14px;
    margin-left: 8.75%;
    color: #777777;
  }
  input {
    width: 60%;
    height: 30px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 1.5px 1.5px lightsteelblue;
    margin-left: 5%;
  }
  #position_input {
    margin-left: 25px;
  }
  #type_institution {
    margin-left: 1px;
  }
  #address_institution {
    margin-left: 17px;
  }
  #email {
    margin-left: 70px;
  }
  #objective {
    margin-left: 140px;
  }
  #topic_project {
    font-size: 16px;
  }
  #box_project_1 {
    width: 15px;
    height: 15px;
    border: none !important;
    border-radius: 8px;
    box-shadow: none;
    margin-left: 9%;
  }
  #topic_project_1 {
    font-size: 14px;
  }
  #name_project_1_label {
    font-size: 14px;
    margin-left: 9%;
  }
  #name_project_1 {
    margin-left: 17px;
  }
  #objective_project_1_label {
    font-size: 14px;
    margin-left: 9%;
  }
  #objective_project {
    margin-left: 140px;
  }
  #source_of_capital_1_label {
    font-size: 14px;
    margin-left: 9%;
  }
  #source_of_capital_1 {
    margin-left: 33.5px;
  }
  #name_institution_1_label {
    font-size: 14px;
    margin-left: 9%;
  }
  #name_institution_1 {
    margin-left: 28px;
  }
  #box_project_2 {
    width: 15px;
    height: 15px;
    border: none !important;
    border-radius: 8px;
    box-shadow: none;
    margin-left: 9%;
  }
  #topic_project_2 {
    font-size: 14px;
  }
  #name_project_2_label {
    font-size: 14px;
    margin-left: 9%;
  }
  #name_project_2 {
    margin-left: 17px;
  }
  #objective_project_2_label {
    font-size: 14px;
    margin-left: 9%;
  }
  #source_of_capital_2_label {
    font-size: 14px;
    margin-left: 9%;
  }
  #source_of_capital_2 {
    margin-left: 33.5px;
  }
  #name_institution_2_label {
    font-size: 14px;
    margin-left: 9%;
  }
  #name_institution_2 {
    margin-left: 28px;
  }
  #objective_again {
    margin-top: 7.5px;
    margin-left: 140px;
  }
  #yes_attachment {
    width: 15px;
    height: 15px;
    border: none !important;
    border-radius: 8px;
    box-shadow: none;
    margin-left: 35%;
  }
  #no_attachment {
    width: 15px;
    height: 15px;
    border: none !important;
    border-radius: 8px;
    box-shadow: none;
    margin-left: 10%;
  }
  #yes {
    margin-left: 2.5%;
    font-size: 14px;
  }
  #no {
    margin-left: 2.5%;
    font-size: 14px;
  }
  #button1 {
    width: 150px;
    background-color: #125554;
    border: none;
    color: whitesmoke;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin-left: 33.25%;
    margin-top: 20px;
    /* display: none; */
  }
  #button1:hover {
    cursor: pointer;
    color: yellow;
  }
  #button_form {
    width: 30px;
    height: 30px;
    margin-left: 30.25%;
  }
  input#button2 {
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    margin-left: 30%;
    font-size: 14px;
  }
  #file-upload-button {
    border-radius: 10px;
  }
  footer {
    position: relative;
    bottom: -20px;
    width: 100%;
    min-height: 60px;
    padding: 0 0 0 0;
    background: #484872;
    text-align: center;
    font-size: 2px;
    margin-top: 10%;
  }
}

/* adjust middle mobile */
@media screen and (min-device-width: 375px) and (max-device-width: 424px) and (-webkit-min-device-pixel-ratio: 1) {
  img.logo_1 {
    display: none;
  }
  #logo_3 {
    width: 80%;
    height: auto;
  }
  header {
    margin-top: -2.5%;
    height: 142vh;
    background-size: 400%;
  }
  nav {
    font-size: 8px;
    margin-left: -1%;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 1px;
  }
  .header-content {
    margin-bottom: 1%;
  }
  .request {
    margin-top: 400px;
    width: 100%;
    height: 2040px;
  }
  .request h2 {
    font-size: 19.5px;
  }
  form {
    margin-top: 5%;
  }
  label {
    font-size: 14px;
    margin-left: 8.75%;
    color: #777777;
  }
  input {
    width: 60%;
    height: 30px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 1.5px 1.5px lightsteelblue;
    margin-left: 5%;
  }
  #position_input {
    margin-left: 25px;
  }
  #type_institution {
    margin-left: 130px !important;
  }
  #name_institution {
    margin-left: 20px !important;
  }
  #address_institution {
    margin-left: 12px !important;
  }
  #phone_number {
    margin-left: 30px !important;
  }
  #email {
    margin-left: 66px !important;
  }
  #objective {
    margin-left: 130px !important;
  }
  #topic_project {
    font-size: 16px;
  }
  #box_project_1 {
    width: 15px;
    height: 15px;
    border: none !important;
    border-radius: 8px;
    box-shadow: none;
    margin-left: 9%;
  }
  #topic_project_1 {
    font-size: 14px;
  }
  #name_project_1_label {
    font-size: 14px;
    margin-left: 9%;
  }
  #name_project_1 {
    margin-left: 22px;
  }
  #objective_project_1_label {
    font-size: 14px;
    margin-left: 9%;
  }
  #objective_project {
    margin-left: 128px !important;
  }
  #source_of_capital_1_label {
    font-size: 14px;
    margin-left: 9%;
  }
  #source_of_capital_1 {
    margin-left: 37.5px;
  }
  #name_institution_1_label {
    font-size: 14px;
    margin-left: 9%;
  }
  #name_institution_1 {
    margin-left: 31px;
  }
  #box_project_2 {
    width: 15px;
    height: 15px;
    border: none !important;
    border-radius: 8px;
    box-shadow: none;
    margin-left: 9%;
  }
  #topic_project_2 {
    font-size: 14px;
  }
  #name_project_2_label {
    font-size: 14px;
    margin-left: 9%;
  }
  #name_project_2 {
    margin-left: 22px;
  }
  #objective_project_2_label {
    font-size: 14px;
    margin-left: 9%;
  }
  #source_of_capital_2_label {
    font-size: 14px;
    margin-left: 9%;
  }
  #source_of_capital_2 {
    margin-left: 37.5px;
  }
  #name_institution_2_label {
    font-size: 14px;
    margin-left: 9%;
  }
  #name_institution_2 {
    margin-left: 31px;
  }
  #objective_again {
    margin-top: 7.5px;
    margin-left: 140px;
  }
  #yes_attachment {
    width: 15px;
    height: 15px;
    border: none !important;
    border-radius: 8px;
    box-shadow: none;
    margin-left: 35%;
  }
  #no_attachment {
    width: 15px;
    height: 15px;
    border: none !important;
    border-radius: 8px;
    box-shadow: none;
    margin-left: 10%;
  }
  #yes {
    margin-left: 2.5%;
    font-size: 14px;
  }
  #no {
    margin-left: 2.5%;
    font-size: 14px;
  }
  #button1 {
    width: 150px;
    background-color: #125554;
    border: none;
    color: whitesmoke;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin-left: 33.25%;
    margin-top: 20px;
    /* display: none; */
  }
  #button1:hover {
    cursor: pointer;
    color: yellow;
  }
  #button_form {
    width: 30px;
    height: 30px;
    margin-left: 30.25%;
  }
  input#button2 {
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    margin-left: 30%;
    font-size: 14px;
  }
  #file-upload-button {
    border-radius: 10px;
  }
  footer {
    position: relative;
    bottom: -20px !important;
    width: 100%;
    min-height: 60px;
    padding: 0 0 0 0;
    background: #484872;
    text-align: center;
    font-size: 2px;
    margin-top: 10%;
  }
}

/* adjust small mobile */
@media screen and (min-device-width: 320px) and (max-device-width: 424px) and (-webkit-min-device-pixel-ratio: 1) {
  img.logo_1 {
    display: none;
  }
  #logo_3 {
    width: 80%;
    height: auto;
  }
  header {
    margin-top: -2.5%;
    height: 142vh;
    background-size: 450%;
  }
  nav {
    font-size: 8px;
    margin-left: -1%;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 1px;
  }
  .header-content {
    margin-bottom: 1%;
  }
  .request {
    margin-top: 400px;
    width: 100%;
    height: 2040px;
  }
  .request h2 {
    font-size: 19.5px;
  }
  form {
    margin-top: 5%;
  }
  label {
    font-size: 14px;
    margin-left: 8.75%;
    color: #777777;
  }
  input {
    width: 60%;
    height: 30px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 1.5px 1.5px lightsteelblue;
    margin-left: 5%;
  }
  #position_input {
    margin-left: 25px;
  }
  #type_institution {
    margin-left: 125px;
  }
  #name_institution {
    margin-left: 16.5px;
  }
  #address_institution {
    margin-left: 125px;
  }
  #phone_number {
    margin-left: 25px;
  }
  #email {
    margin-left: 60px;
  }
  #objective {
    margin-left: 122.5px;
  }
  #topic_project {
    font-size: 15px;
  }
  #box_project_1 {
    width: 15px;
    height: 15px;
    border: none !important;
    border-radius: 8px;
    box-shadow: none;
    margin-left: 9%;
  }
  #topic_project_1 {
    font-size: 5px;
  }
  #name_project_1_label {
    font-size: 14px;
    margin-left: 9%;
  }
  #name_project_1 {
    margin-left: 10px;
  }
  #objective_project_1_label {
    font-size: 14px;
    margin-left: 9%;
  }
  #objective_project {
    margin-left: 122.5px;
  }
  #source_of_capital_1_label {
    font-size: 14px;
    margin-left: 9%;
  }
  #source_of_capital_1 {
    margin-left: 27.5px;
  }
  #name_institution_1_label {
    font-size: 14px;
    margin-left: 9%;
  }
  #name_institution_1 {
    margin-left: 20.5px;
  }
  #box_project_2 {
    width: 15px;
    height: 15px;
    border: none !important;
    border-radius: 8px;
    box-shadow: none;
    margin-left: 9%;
  }
  #topic_project_2 {
    font-size: 14px;
  }
  #name_project_2_label {
    font-size: 14px;
    margin-left: 9%;
  }
  #name_project_2 {
    margin-left: 10px;
  }
  #objective_project_2_label {
    font-size: 14px;
    margin-left: 9%;
  }
  #source_of_capital_2_label {
    font-size: 14px;
    margin-left: 9%;
  }
  #source_of_capital_2 {
    margin-left: 27.5px;
  }
  #name_institution_2_label {
    font-size: 14px;
    margin-left: 9%;
  }
  #name_institution_2 {
    margin-left: 20.5px;
  }
  #objective_again {
    margin-top: 7.5px;
    margin-left: 122.5px;
  }
  #yes_attachment {
    width: 15px;
    height: 15px;
    border: none !important;
    border-radius: 8px;
    box-shadow: none;
    margin-left: 32.5%;
  }
  #no_attachment {
    width: 15px;
    height: 15px;
    border: none !important;
    border-radius: 8px;
    box-shadow: none;
    margin-left: 10%;
  }
  #yes {
    margin-left: 2.5%;
    font-size: 14px;
  }
  #no {
    margin-left: 2.5%;
    font-size: 14px;
  }
  #button1 {
    width: 150px;
    background-color: #125554;
    border: none;
    color: whitesmoke;
    padding: 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin-left: 28%;
    margin-top: 20px;
    /* display: none; */
  }
  #button1:hover {
    cursor: pointer;
    color: yellow;
  }
  #button_form {
    width: 30px;
    height: 30px;
    margin-left: 30.25%;
  }
  input#button2 {
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    margin-left: 25%;
    font-size: 14px;
  }
  #file-upload-button {
    border-radius: 10px;
  }
  footer {
    position: relative;
    bottom: -20px;
    width: 100%;
    min-height: 60px;
    padding: 0 0 0 0;
    background: #484872;
    text-align: center;
    font-size: 2px;
    margin-top: 10%;
  }
}
