/* Header Section */
header {
  position: absolute;
  display: flex;
  top: 135px;
  width: 100%;
  height: 100vh;
  background-image: url(/img/background_4.jpeg);
  background-size: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
}
.header-content {
  margin: 0;
  width: 100%;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0.7;
  z-index: 0;
}
.header-content img {
  width: 495px;
  height: 165px;
}
.header-content h2 {
  font-size: 4vmin;
  color: #125554;
}
.header-content h3 {
  font-size: 3vmin;
  color: #777777;
}

/* End Header Section */

/* Request Section */
.request {
  margin: auto;
  width: 50%;
  height: 2040px;
  background-color: whitesmoke;
  opacity: 0.7;
  margin-top: 28%;
}
.request h2 {
  text-align: center;
  color: #125554;
}
form {
  margin-top: 5%;
}
label {
  font-size: 20px;
  margin-left: 8.75%;
  color: #777777;
}
input {
  width: 60%;
  height: 30px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 5%;
}
#prefix_name_0 {
  margin-left: 8.75%;
}
#prefix_dropdown {
  width: 60%;
  height: 30px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 7.15%;
}
#username {
  padding-right: 2%;
}
#position {
  padding-right: 6%;
}
#type_institution {
  width: 60%;
  height: 30px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 1.5%;
}
#name_institution {
  width: 60%;
  height: 30px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 6.5%;
}
#address_institution {
  width: 60%;
  height: 60px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 5%;
}
#phone_number {
  margin-left: 8.5%;
}
#email {
  margin-left: 15.25%;
}
#objective {
  width: 60%;
  height: 80px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 30%;
}
#topic_project {
  font-size: 20px;
  margin-left: 8.75%;
  color: #777777;
}
#box_project_1 {
  width: 25px;
  height: 25px;
  border: none !important;
  border-radius: 8px;
  box-shadow: none;
  margin-left: 15%;
}
#topic_project_1 {
  font-size: 18px;
  margin-left: 2.5%;
  color: #777777;
}
#name_project_1_label {
  font-size: 18px;
  margin-left: 14.75%;
  color: #777777;
}
#name_project_1 {
  margin-left: 2.25%;
}
#objective_project_1_label {
  font-size: 18px;
  margin-left: 14.75%;
  color: #777777;
}
#objective_project_1 {
  margin-left: 2.25%;
}
#objective_project {
  width: 60%;
  height: 80px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 31.25%;
}
#source_of_capital_1_label {
  margin-left: 15.25%;
  font-size: 18px;
}
#source_of_capital_1 {
  width: 60%;
  height: 30px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 4.5%;
}
#name_institution_1_label {
  margin-left: 15.25%;
  font-size: 18px;
}
#name_institution_1 {
  width: 60%;
  height: 30px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 3.5%;
}
#box_project_2 {
  width: 25px;
  height: 25px;
  border: none !important;
  border-radius: 8px;
  box-shadow: none;
  margin-left: 15%;
}
#topic_project_2 {
  font-size: 18px;
  margin-left: 2.5%;
  color: #777777;
}
#name_project_2_label {
  font-size: 18px;
  margin-left: 14.75%;
  color: #777777;
}
#name_project_2 {
  margin-left: 2.25%;
}
#objective_project_2_label {
  font-size: 18px;
  margin-left: 14.75%;
  color: #777777;
}
#objective_project_2 {
  margin-left: 2.25%;
}
#objective_project {
  width: 60%;
  height: 80px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 31.25%;
}
#source_of_capital_2_label {
  margin-left: 15.25%;
  font-size: 18px;
}
#source_of_capital_2 {
  width: 60%;
  height: 30px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 4.5%;
}
#name_institution_2_label {
  margin-left: 15.25%;
  font-size: 18px;
}
#name_institution_2 {
  width: 60%;
  height: 30px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 3.5%;
}
#objective_again {
  width: 60%;
  height: 80px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 1.5px 1.5px lightsteelblue;
  margin-left: 30%;
}
#yes_attachment {
  width: 25px;
  height: 25px;
  border: none !important;
  border-radius: 8px;
  box-shadow: none;
  margin-left: 35%;
}
#no_attachment {
  width: 25px;
  height: 25px;
  border: none !important;
  border-radius: 8px;
  box-shadow: none;
  margin-left: 10%;
}
#yes {
  margin-left: 2.5%;
  font-size: 18px;
}
#no {
  margin-left: 2.5%;
  font-size: 18px;
}
#button1 {
  width: 200px;
  background-color: #125554;
  border: none;
  color: whitesmoke;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
  margin-left: 37.25%;
  margin-top: 20px;
  /* display: none; */
}
#button1:hover {
  cursor: pointer;
  color: yellow;
}
#button_form {
  width: 40px;
  height: 40px;
  margin-left: 37.25%;
}
input#button2 {
  width: 250px;
  height: 45px;
  border: none;
  border-radius: 10px;
  box-shadow: none;
  margin-left: 35%;
  font-size: 18px;
}
#file-upload-button {
  border-radius: 10px;
}
/* End Request Section */

/* Footer Section */
footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 20px 80px;
  margin-top: 15%;
  margin-bottom: 0;
  background: #484872;
  text-align: center;
}
footer p {
  color: whitesmoke;
  margin: 20px auto;
}
/* End Footer Section */

/* adjust laptop */
@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
  img.logo_1 {
    margin-top: 10px;
    margin-left: -50%;
    width: 100%;
    height: 75%;
  }
  nav {
    font-size: 18px;
    margin-left: -5%;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 20px;
  }
  .topnav {
    margin-top: 40%;
  }
  header {
    height: 165vh;
    background-size: 150%;
  }
  .request {
    margin-top: 32.5%;
  }
  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    padding: 20px 80px;
    background: #484872;
    text-align: center;
    font-size: 16px;
    margin-top: 15%;
  }
}

/* adjust tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  img.logo_1 {
    display: none;
  }
  header {
    position: absolute;
    display: flex;
    top: 135px;
    width: 100%;
    height: 100vh;
    background-image: url(/img/background_4.jpg);
    background-size: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  nav {
    font-size: 15.5px;
    margin-left: -3%;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links li {
    margin: 0 10px;
  }
  .topnav {
    margin-top: 60%;
  }
  .request {
    margin-top: 52.5%;
    width: 100%;
    height: 650px;
    background-color: whitesmoke;
    opacity: 0.7;
  }
  footer {
    margin-top: 180%;
    bottom: 0;
  }
}
